<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
   <center>
    <img src="http://www.biomerieux.com/portail/img/logo_home.gif" alt="corporate logo" width="150" height="150"/>
    <a href="/"><h1>In-Vitro & Clinical Diagnostic Device Database</h1></a>
    <div>
      <a href="/systems/"><h2>List of Instrument Systems</h2></a>
    <div>
    <div>
      <a href="/components/"><h2>List of Components and Parts </h2></a>
      <br /> <br /> <br /> 
      <img src="http://www.biomerieux.com/upload/clinical_diagnostics.gif" alt="corporate logo" width="150" height="100"/>
      <br /> <br /> <br /> <br />
    <div>
   </center>
  </body>
  <footer>
    <a href="http://www.biomerieux.com">Visit Corporate Website</a>
    <p>Posted by: Guillermo Perasso - UNC/CH - INLS 490-186 - Spring 2012</p>
    <p><time pubdate datetime="2012-04-28"></time></p>
</footer>

</html>
