<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
   <center>
    <img src="http://www.biomerieux.com/portail/img/logo_home.gif" alt="corporate logo" width="150" height="150"/>
    <a href="/"><h1>In-Vitro & Clinical Diagnostic Device Database</h1></a>
    <div itemscope itemtype="http://www.schema.org/Product">
     <meta itemprop="brand" content="bioMerieux"/>
     <meta itemprop="description" content="in-vitro diagnostic devices" /meta>
      <a href="/systems/"><h2>List of Instrument Systems</h2></a>
    </div>
    <div itemscope itemtype="http://www.schema.org/Product">
     <meta itemprop="brand" content="bioMerieux"/>
     <meta itemprop="description" content="in-vitro diagnostic components" /meta> 
      <a href="/components/"><h2>List of Components and Parts </h2></a>
    </div>
      <br /> <br /> <br /> 
      <img src="http://www.biomerieux.com/upload/clinical_diagnostics.gif" alt="corporate logo" width="150" height="100"/>
      <br /> <br /> <br /> <br />
   </center>
  </body>
  <footer>
   <center>
    <div itemscope itemtype="http://www.schema.org/AboutPage"> 
     <span itemprop="creator"> <p>Guillermo Perasso</p></span>
     <span itemprop="description"><p>UNC/CH - INLS 490-186 - Spring 2012 - Final Project </p> </span>
     <span itemprop="datePublished"<time pubdate datetime="2012-04-28"></time></p> </span> 
     <br /> <br />
    </div>
   </center>
    <div itemscope itemtype="http://www.schema.org/PostalAddress">
     <span itemprop="name">bioMerieux Inc</span>,
     <span itemprop="addressLocality">RTP Area</span>,
     <span itemprop="addressRegion">NC</span>,
     <span itemprop="postalCode">27712</span>
     <span itemprop="addressCountry">USA</span>
      <span itemscope itemtype="http://www.schema.org/Organization" </span>
        <a itemprop="url" href="http://www.biomerieux.com">Visit Corporate Website</a>
     </div>

</footer>

</html>