<!DOCTYPE html>
<html>
  <head>
    <title>Medical Devices: Home</title>
  </head>
  <body>
    <a href="/"><h1>Medical Devices</h1></a>
    <div>
      <a href="/components/"><h2>List of components and parts </h2></a>
    <div>
    <div>
      <a href="/systems/"><h2>List of medical systems</h2></a>
    <div>
    <div>
      <a href="/configurations/"><h2>List of system configurations</h2></a>
    <div>
  </body>
</html>
