<!DOCTYPE html>
<html>
  <head>
    <title>Medical Devices Data: Components</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Components and Parts</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/components/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No Components Found.</div>
    <% } %>
    <div class="control">
      <h2>Search for components by name</h2>
      <form id="SearchComponent" action="/comp_name/" method="get">
       <input name="name" size="60" />
       <input type="submit" value="Search" name="SubmitButton" />
      </form>
    </div>
    <div class="control">
      <h2>Search Components by Status</h2>
      <form method="get" action="/comp_status/">
        <label>Status: 
          <select name="part_status">
            <option value="e">All </option>
            <option value="Active">Active </option>
            <option value="Obsolete">Obsolete </option>
          </select>
        </label>
        <button>Search</button>
      </form>
    </div>
  </body>
</html>
